/*----- COLOR PALLET -----*/
/* https://huemint.com/website-magazine/#palette=f9f452-ecece9-171308-50564c */

/* good color combo */
/* https://huemint.com/website-magazine/#palette=fffffd-ffce2f-262121-fd97af */

/* https://huemint.com/website-magazine/#palette=faf9f5-d4f8df-a06175-19a19d */

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
  width: 100%;
  padding: 2rem;

  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  height: 1200px;
  width: 1080px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

nav {
  height: 10%;
  width: 100%;
  padding: 0 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: blueviolet;
}

#nav_logo {
  font-weight: 600;
  font-size: 2rem;
  cursor: pointer;
}

.nav-right {
  text-align: end;
  color: rgb(54, 54, 54);
}

.nav-right > p {
  font-size: 1.1rem;
  cursor: pointer;
  width: 5rem;
  /* color: rgb(54, 54, 54); */
}

.nav-right > p:hover {
  color: rgb(18, 18, 18);
}

.nav-right > p:not(:last-child) {
  margin-bottom: 0.25rem;
}

.content {
  height: 80%;
  width: 100%;
  padding: 2rem;

  background-color: darkseagreen;
}

.content p {
  padding: 1rem 3rem;
}

.content h1 {
  margin-bottom: 2rem;
}

.active-side-link {
  color: rgb(18, 18, 18);
}

footer {
  height: 10%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;

  background-color: aquamarine;
}

/* ABOUT PAGE */
/* .about { */
/* display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start; */

/* justify-content: flex-start;
  align-items: flex-start;
  gap: 4rem;
} */

h1 {
  font-size: 2.5rem;
}

p {
  font-size: 1.1rem;
}
