/*----- COLOR PALLET -----*/
/* https://huemint.com/website-magazine/#palette=fffffd-ffce2f-262121-fd97af */

@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;1,500;1,600&family=Raleway&display=swap");

:root {
  /* colors */
  --text-main: #262121;
  --text-n-bg: #fffffd;
  --bg-main: #ffce2f;
  --accent-n-button: #fd97af;

  /* fonts */
  --raleway-font: "Raleway", sans-serif;
  --playfair-font: "Playfair Display", serif;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
  width: 100%;
  padding: 2rem;

  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--playfair-font);

  background-color: var(--text-n-bg);
}

.main {
  height: 710px;
  width: 1140px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

nav,
.content-wrapper,
footer {
  background-color: var(--bg-main);
}

nav {
  height: 10%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.content-wrapper {
  height: 100%;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

footer {
  height: 5%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.2rem;
}

footer img {
  height: 1.32rem;
  width: 1.32rem;
  cursor: pointer;
}

#nav_logo {
  margin-left: 1rem;
  font-weight: 600;
  font-size: 1.2rem;
  cursor: pointer;
  margin-top: 0.5rem;
}

.nav-right {
  margin-right: 2.25rem;
  margin-top: 0.8rem;
  text-align: end;
  color: rgb(54, 54, 54);
  font-family: var(--raleway-font);
}

.nav-right > p {
  font-size: 1rem;
  cursor: pointer;
  font-weight: 500;

  width: 8rem;
}

.nav-right > p:hover {
  color: rgb(18, 18, 18);
}

.nav-right > p:not(:last-child) {
  margin-bottom: 0.2rem;
}

.home-content {
  height: 85%;
  width: 100%;
  padding: 1.1rem;
  font-family: var(--raleway-font);

  display: flex;
  justify-content: center;
  align-items: center;
}

.home-content div {
  padding: 1rem 3rem;
}

.home-content div ul li {
  font-size: 1.2rem;
  list-style-type: none;
}

.home-content div ul li:not(:first-child) {
  margin-top: 3rem;
}

h1 {
  margin-bottom: 2rem;
  color: var(--text-n-bg);
}

.menu {
  height: 85%;
  width: 100%;
  background-color: var(--bg-main);
  color: var(--text-main);

  padding: 2rem;
}

.menu p {
  font-size: 1rem;
}

.menu img {
  height: 540px;
  width: auto;
}

.menu #item_1_img {
  height: 620px;
  width: auto;

  position: absolute;
  top: -5%;
  right: -15%;
  transform: rotate(17deg);
}

.menu #item_2_img {
  height: 520px;
  width: auto;
  position: absolute;
  bottom: -93%;
  left: -14%;
  transform: rotate(-17deg);
}

.menu .item {
  display: flex;
  justify-content: space-between;
  align-content: center;

  height: 10rem;
  position: relative;
}

.menu .item:not(:last-child) {
  margin-left: 2rem;
  margin-top: -7%;
}

.menu .item:not(:first-child) {
  margin-right: 2rem;
  margin-top: 16%;
}

.menu .item-deetsWrapper:not(:last-child) {
  margin-left: 1rem;
}

.menu .item-deetsWrapper:not(:first-child) {
  margin-left: 8rem;
}

.menu h1 {
  padding-bottom: -1rem;
  margin-bottom: -0.2rem;
}

.menu .item-price {
  font-weight: 600;
  font-size: 1.5rem;
  font-style: italic;

  font-family: var(--playfair-font);
}

.menu .item .item-deetsWrapper {
  font-size: 0.5rem;
  font-family: var(--raleway-font);
  width: 75%;
}

.disable {
  display: none;
}

h1 {
  font-size: 2.5rem;
}

p {
  font-size: 1.1rem;
}

.active-link {
  color: rgb(18, 18, 18);
}

.contact-content {
  margin-top: -20%;
  font-family: var(--raleway-font);
}
